body{
    font-family: 'Quicksand', sans-serif;
}

.logo{
background-image: url("../images/logo.png");
display: inline-block;
background-repeat: no-repeat;
width: 23%;
/* padding: 1%;  */
}

.nav{
display: inline-block;
vertical-align: top;
width: 73%;
padding: 1%;
}

.right{
text-align: right;
}

.right button {
    background-color: #3F7480;
    color:white;
    font-size: 12px;
    padding: 15px;
    width: 15%;
}

.content{
background-image: url("/images/my\ photo.png");
height: 600px;
background-repeat: no-repeat;
align-items: center;
}

.paragraph1{
background-color: white;
text-align: left;
justify-content: left;
offset: 20px;
}
